table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
  }
  
  th, td {
    border: 1px solid rgb(11, 11, 11);
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #47b497;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }